<%- include("./Template/header/header.ejs", {atPage})%>
<main class="course">
    <div class="course-intro">
        <img src="<%= course.photo  %> " alt="">
        <div>
            <h1 class="course-title"><%= course.title %></h1>
            <h2 class="course-instructor"><%= course.instructor %> </h2>
            <p class="course-price">Price: <%= course.price %></p>
            <button class="buy-btn" data-course-id="<%= courseID %>">Buy now</button>
            <p class="course-desc-title">Description</p>
            <p class="course-desc"><%= course.description %></p>
        </div>
    </div>
    <div class="reviews">
        <h1>Reviews</h1>
        <form action="#" method="POST">
            <input type="text" name ="question" id="review-input">
            <button type="submit">Post <span>Reviews</span></button>
        </form>
        <div>
            <% for( let index = 0; index < course.review.length; index++ ) { %>
                <div class="review-item">
                    <p>By: <span><%= course.review[index].user.name %> </span></p>
                    <p><%= course.review[index].message %> </p>
                </div>
            <% } %>
        </div>
    </div>
</main>

<%- include("./Template/footer/footer.ejs")  %> 